// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Header//
#site_title {
  display: block;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 4em;
  padding-bottom: .6em;
  margin: .5em 1em 1em 1em;
  border-bottom: 1.5px solid black;
  text-decoration: none;
  color: black;
}

//Featured Book//

.featured_cover {
  float: left;
  height: 100%;
}

.featured_book li {
  position: relative;
  display: inline-block;
  list-style: none;
  padding: 1em 2em;
}

.featured_quote {
  font-size: 2em;
  font-family: 'Fauna One', serif;
}

.featured_title {
  font-size: 3em;
  font-style: italic;
  font-family: 'Oswald', sans-serif;
}

.featured_author {
  font-size: 3em;
  font-family: 'Fauna One', serif;
}

//Book List//

.book_list li {
  position: relative;
  display: inline-block;
  list-style: none;
  padding: 1em 2em;
}

.cover_image {
  height: 50%;
  width: 50%;
}

.quote {
  font-family: 'Fauna One', serif;
}

.title {
  font-style: italic;
  font-family: 'Oswald', sans-serif;
}

.author {
  font-family: 'Fauna One', serif;
}